[project]
	description = nspr experiments
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/emaldona
[access "refs/for/refs/*"]
	read = group user/emaldona
	push = group user/emaldona
	label-Code-Review = -2..+2 group user/emaldona
	label-Verified = -1..+1 group user/emaldona
	rebase = group user/emaldona
	removeReviewer = group user/emaldona
	submit = group user/emaldona
[access "refs/heads/*"]
	read = group user/emaldona
	create = group user/emaldona
	push = +force group user/emaldona
	pushMerge = group user/emaldona
[access "refs/tags/*"]
	push = group user/emaldona
	push = +force group user/emaldona
